*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
#marker_cancer_type {
  padding-bottom: 3rem;
}
#detail_footer_div {
  border-top: none;
}

a {
  text-decoration: none;
}

li {
  margin-left: 20px;
}

ol {
  height: 300px;
  overflow: scroll;
  margin-top: 10px;
  background-color: #f3f3f3;
}

.elnc-gene-name {
  margin-left: 30px;
}

.logo-div {
  background-color: #6054c4;
  text-align: center;
  padding: 1em 0;
}

.logo-div img {
  max-width: 240px;
  width: 240px;
}

.container-wrap {
  background-color: #969899;
}

.main-heading-div {
  max-width: 1366px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1em 0em;
  margin: 0 auto;
}

.main-heading-div,
.team-finding-div,
.input-field-div {
  padding-left: 8em;
  padding-right: 8em;
}

.input-field-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.input-field-div input,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 40%;
  padding: 0.5em 0.6em;
  border: 1.5px solid #32394d;
}

.hamburger-div {
  flex: 0.5;
}

.hamburger {
  font-size: 1.4rem;
  cursor: pointer;
}

.side-navbar {
  background-color: #5747db;
  width: 16.688em;
  padding: 0em 0 1em 2em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -20em;
  transition: 0.4s ease-in-out all;
}

.show {
  left: 0;
  transition: 0.4s ease-in-out all;
}

.close-icon {
  padding: 1em 1em 0 0em;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: -0.1em;
}

.side-navbar ul {
  list-style: none;
  margin-top: 3em;
}

.list-items {
  color: #fff;
  display: inline-block;
  margin-top: 1em;
  font-size: 1rem;
}

.list-items:hover {
  opacity: 0.8;
}

.heading {
  font-size: 3rem;
}

.team-finding-div {
  max-width: 1366px;
  margin: 0 auto;
}

.team-heading {
  color: #6054c4;
  padding: 2em 0;
}

.team-details {
  background-color: #ebeff5;
  padding: 1.5em 1.5em 2em;
}

.team-details-text {
  font-size: 0.85rem;
  line-height: 1.5;
}

.team-details-text:first-child {
  margin-bottom: 1em;
}

.table {
  font-size: 0.9rem;
}

.btn-div {
  text-align: end;
}

.find-out-more-btn {
  background-color: #c1e2e5;
  font-family: "Open Sans", sans-serif;
  color: #5747db;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding: 0.9em 1.2em;
  margin: 4em 0;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 0.85rem;
  display: inline-block;
}

.find-out-more-btn:hover {
  background-color: #a6d5da;
}

.input-field-div {
  max-width: 1366px;
  margin: 0 auto;
}

#input-field {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 0.5em 0.6em;
  border: 1.5px solid #32394d;
}

/* about section */
.about-wrapper {
  display: flex;
  padding: 2rem 1rem;
  padding-bottom: 1rem;
  /* padding-bottom: 0; */
  flex-direction: column;
  /*border-bottom: 1px solid #71737b;*/
  width: 78%;
  margin: 0 auto;
  max-width: 1366px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px !important;
}

.abt-txt {
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

.abt-img-gallery {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.abt-img-single {
  width: 21%;
  max-width: 12rem;
  border-radius: 1rem;
}

/* about section end */

.footer-div {
  display: flex;
  padding: 3em 0 2em 0;
  align-items: flex-end;
  border-top: 1px solid #32394d;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 1366px;
  width: 100%;
}

.acknowledgement-div h3 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.acknowledgement-div p {
  width: 90%;
  line-height: 1.4;
  font-size: 0.85rem;
}

.QIMR-logo-div img {
  width: 192px;
}

.copy-right-div {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto 2em;
  display: flex;
  justify-content: space-between;
}

.links,
.copyright-text {
  font-size: 0.85rem;
  color: #32394d;
}

.links:hover {
  color: #5747db;
}

.copyright-text {
  margin-top: 0.5em;
}

.social-links-div {
  display: flex;
}

.social-icons {
  background-color: #32394d;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons + .social-icons {
  margin-left: 1em;
}

.social-icons:hover {
  background-color: #969899;
}
/* sequence css code start */
.sequence_textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
}
/* sequence css code end */
/* summary css code start */
.summary_id_color {
  color: red;
}
/* summary css code end */
/* gencode  css code start*/
.gencode {
  color: red;
  text-decoration: underline;
  font-weight: 700;
}
/* gencode css code end */
/* expression_cell_subpopulations css start */
.expression_cell_subpopulations {
  color: red;
  text-decoration: underline;
  font-weight: 700;
}
/* expression_cell_subpopulations css end */

@media (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 770px) {
  .QIMR-logo-div {
    display: none;
  }

  .abt-img-gallery {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .abt-img-single {
    width: 45%;
    max-width: 14rem;
    border-radius: 1rem;
  }

  .acknowledgement-div {
    text-align: center;
  }

  .acknowledgement-div p {
    width: 100%;
  }

  .copy-right-div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .social-links-div {
    margin-bottom: 1em;
  }

  .copy-right-div {
    margin-bottom: 1em;
  }

  .main-heading-div,
  .team-finding-div,
  .input-field-div {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (max-width: 550px) {
  .heading {
    font-size: 2rem;
  }

  .about-wrapper {
    width: 100%;
  }

  .abt-img-gallery {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .abt-img-single {
    width: 100%;
    max-width: 16rem;
    border-radius: 1rem;
  }

  .main-heading-div,
  .team-finding-div,
  .input-field-div {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .page-header {
    padding-bottom: 9px;
    /* margin: 40px 0 20px; */
    border-bottom: 1px solid #eeeeee;
    padding-left: 8em;
    padding-right: 8em;
  }
}
/* gemomicCoordinates css code start */
.genomicCoordinates-paragraph,
.previous_annotation-paragraph {
  font-size: 20px !important;
  margin-bottom: 30px;
}
.genomicCoordinates-red-color,
.previous_annotaion-red-color {
  color: red;
}
/* genomicCoordinates css code end */

h3 {
  border-bottom: 1px solid #71737b;
  padding-bottom: 10px;
  margin: 10px 0 20px;
}
